@import "./mocha.css";

* {
  color: @text;
  font-family: "Fira Code", "FontAwesome";
  min-height: 22px;
}

window#waybar {
  background: transparent;
  /* background: @base; */
  /* border-radius: 10px; */
}

.modules-right, .modules-left {
  color: @text;
  /* padding: 0 10px; */
}
.modules-left, .modules-center, .modules-right {
  /* background-color: shade(@base, 1); */
  /* border-radius: 20px; */
}

#clock, #custom-media, .modules-center, #tray, #battery, #pulseaudio {
  background-color: shade(@base, 1);
  border-radius: 20px;
  padding: 0 14px;
  min-height: 24px;
}
.modules-center {
  padding: 0px;
}

#workspaces button {
  color: @crust;
  border-radius: 20px;
  border: 2px solid transparent;
}

#workspaces button:hover {
  background: shade(@surface0, 1);
}

#workspaces button.active {
  color: @text;
  background: shade(@blue, 0.75);
  /* border-color: @text; */
}
